$accent-color: #d7b399;
$secondary-color: #f9f6f1;
$accent-dark: #212121;
$dark: #000;
$light: #fff;
$ruby: #d84033;
$footer-link-color: #cbcfd4;
$input-color: #8d8d8d;

$main-font: "Montserrat", sans-serif;
